name: Build & Deploy dbt Cloud Run Job (prod)

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment: prod

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker auth
        run: |
          gcloud auth configure-docker europe-west1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          IMAGE_URI="europe-west1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/dbt-images/dbt:${GITHUB_SHA}"
          docker build -t $IMAGE_URI .

      - name: Push Docker image
        run: |
          IMAGE_URI="europe-west1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/dbt-images/dbt:${GITHUB_SHA}"
          docker push $IMAGE_URI

      - name: Update Cloud Run Job
        run: |
          IMAGE_URI="europe-west1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/dbt-images/dbt:${GITHUB_SHA}"
          gcloud run jobs update dbt-build-job \
            --image $IMAGE_URI \
            --region europe-west1 \
            --project ${{ secrets.GCP_PROJECT_ID }}

      #- name: Execute Cloud Run Job
      #  run: |
      #    gcloud run jobs execute dbt-build-job \
      #      --region europe-west1 \
      #      --project ${{ secrets.GCP_PROJECT_ID }}
